body{
    font-size: 10px;
}

#webapp-container{
    height: 100vh;
    width: 100vw;
}

body::-webkit-scrollbar {
    width: 2px;
    display: none;
  }

/* *** UPPER PART *** */

#upper{
    /* height: (100vh - 50px); */
    width: 100%;
    height: calc(100vh - 70px);
}


main{
    /* width: (100vw - 200px);
    height: (100vh - 100px); */
    /* width: 100%; */
    flex: 9;
    height: 100%;
    background-color: #141922;
}

/* *** SIDEBAR *** */

#sidebar{
    position: sticky;
    top: 0;
    z-index: 1;
    height: 100%;
    flex: 1;
    background-color: #000000;
    /* width: 30px; */
}

#sidebar > section{
    height: 100%;
    width: 100%;
}

#logo-container{
    text-align: center;
}

#logo{
    display: none;
    font-size: 1.5rem;
}

#logo-small{
    width: 70%;
}

#sidebar button{
    width: 25px;
    height: 25px;
}

#sidebar #side-down{
    width: 100%;
}

#side-down .fa-circle-user{
    font-size: 1.5rem;
}

#sidebar ul li{
    color: gray;
    margin: 5 px 0;
    text-align: center;
    padding: 1%;
}

#sidebar ul li a{
    color: gray;
}

#sidebar ul li img{
    width: 60%;
}

#sidebar ul span{
    display: none;
}

#side-line{
    width: 100%;
    height: 1px;
    background-color: gray;
    display: none;
}

/* *** UPPER BAR *** */

header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3;
    background-color: rgba( 0, 0, 0, 0.8 );
    /* filter: opacity(0.2); */
}

#upgrade{
    display: inline-block;
    padding: 5px 40px;
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
}

#upgrade:hover,
#upgrade:active{
    transform: scale(1.1);
}

/* *** MAIN *** */

#contents{
    overflow-y: auto;
    width: 100%;
}

.content-container{
    width: 100%;
}

.content-container > .play{
    flex-basis: 50%;
}

.play-img{
    width: 100%;
}

#contents picture > .fa-circle-play{
    font-size: 5rem;
    display: none;
}

#contents img:hover{
    cursor: pointer;
    opacity: 0.5;
}

#contents picture:hover .fa-circle-play{
    display: block;
    cursor: pointer;
}

#circle-pic{
   width: 100px;
   height: 100px; 
}

#circle-pic .play-img#circle-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#contents nav{
    width: 90%;
    margin: auto;
}

#contents nav a{
    color: gray;
}

#contents nav ul li{
    margin: 2% 5%;
}


/* *** FOOTER *** */

footer{
    height: 70px;
    width: 100%;
    background-color: #282828;
    /* position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
    overflow: hidden; */
}

footer i:hover{
    filter: brightness(200%);
    cursor: pointer;
}

#footer-left,
#footer-right{
    width: 28%;
}

#footer-center{
    width: 38%;
}

#brano-left img{
    width: 100%;
}

#icons-left i{
    font-size: 1.5rem;
    color: gray;
}

#time-count{
    text-align: center;
    width: 100%;
}

#icons-center{
    color: white;
    font-size: 1.2rem;
}

#icons-center .fa-play-circle{
    font-size: 2rem;
    text-transform: uppercase;
}

#icons-center .fa-play-circle:hover{
    transform: scale(1.2);
}

.player-bar{
    width: 80%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff3;
    cursor: pointer;
}

.player-bar .controller-elapsed-point{
    width: 20%;
    height: 4px;
    background-color: white;
}

.player-bar .controller-elapsed{
    position: relative;
    height: 100%;
    border-radius: 4px;
    background-color: #fff9;
}

footer .player-bar:hover .controller-elapsed-point{
    background-color: greenyellow;
}

footer .player-bar:hover .controller-elapsed .controller-elapsed-point {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}

#footer-right i{
    color: white;
    font-size: 1.1rem;
}

#footer-right #audio-bar{
    display: none;
}

#footer-right .basis-19{
    flex-basis: 32%;
}




/* *******************************
********* MIN-WIDTH 480px ********
******************************* */

@media screen and ( min-width: 480px ) {
    
    /* *** UPPER PART *** */

    /* *** SIDEBAR *** */

    #sidebar{
        position: sticky;
        top: 0;
        z-index: 1;
        height: 100%;
        width: 150px;
    }
    

    #sidebar > section{
        height: 100%;
        width: 150px;
    }

    /* SIDEBAR logo */

    #logo-container{
        text-align: left;
    }

    #logo-small{
        display: none;
    }

    #logo{
        display: inline-block;
        width: 7rem;
    }


    /* SIDEBAR listes */
    
    #sidebar ul li img{
        width: 15%;
        margin-right: 10px;
    }

    #sidebar li{
        display: flex;
        align-items: center;
        margin: 2px 0;
    }

    #sidebar ul span{
        display: inline-block;
    }

    /* *** UPPER BAR *** */

    /* *** MAIN *** */

    
    #circle-pic{
        width: 150px;
        height: 150px; 
    }

    /* *** FOOTER *** */

}





/* *******************************
********* MIN-WIDTH 768px ********
******************************* */

@media screen and ( min-width: 768px ) {
    
    /* *** UPPER PART *** */

    /* *** SIDEBAR *** */

    /* *** UPPER BAR *** */

    /* *** MAIN *** */
/* 
    #contents .basis-50{
        width: 20%;
    } */
    .content-container > .play{
        flex-basis: 25%;
    }

    
    #circle-pic{
        width: 150px;
        height: 150px; 
    }

    /* *** FOOTER *** */

    
    #footer-left,
    #footer-right{
        width: 25%;
        height: 80%;
    }

    #footer-center{
        width: 35%;
        height: 90%;
    }

    
    #brano-left img{
        width: 100%;
    }

    #icons-left{
        flex-direction: row;
    }

    #footer-right .basis-19{
        flex-basis: 19%;
    }

    #footer-right #audio-bar{
        display: block;
    }

}





/* *******************************
******** MIN-WIDTH 1024px ********
******************************* */

@media screen and ( min-width: 1024px ) {
    
    /* *** UPPER PART *** */

    /* *** SIDEBAR *** */

    /* *** UPPER BAR *** */

    /* *** MAIN *** */

    .content-container > .play{
        flex-basis: calc( 100% / 6 );
    }

    
    #circle-pic{
        width: 150px;
        height: 150px; 
    }

    /* *** FOOTER *** */

    
    #footer-left,
    #footer-right{
        width: 20%;
    }

    #footer-center{
        width: 30%;
    }

}